@model Tags.Models.User

@{
    ViewBag.Title = "User";
    List<IHtmlString> buttons = new List<IHtmlString>() {
            Html.Bootstrap().SubmitButton().Text("Save").Id("saveuser").Style(ButtonStyle.Success),
            Html.Raw("&nbsp;"),
            Html.Bootstrap().SubmitButton().Text("Cancel").Id("cancel").Style(ButtonStyle.Danger)
    };
}

<div class="container">
    @using (var form = Html.Bootstrap().Begin(new Form("UserUpdate", "Admin").Id("userform").Type(FormType.Horizontal).LabelWidthXs(5)))
    {
        @Html.HiddenFor(m => m.UserId)
        <div class="row">
            <div class="col-xs-12 text-primary"><h3>@(Model.UserId == 0 ? "Add " : "Edit ")Worker</h3></div>
        </div>
        <div class="row">
            <div class="col-xs-8">
                @form.FormGroup().TextBoxFor(m => m.Login).Size(InputSize.Small).Label().LabelText("Login@nittacasings.com")
                @form.FormGroup().TextBoxFor(m => m.Identity).Size(InputSize.Small).Label().LabelText("Identity string from Biometrics")
            </div>
        </div>
        <div class="row">
            @(form.FormGroup().CustomControls(buttons.ToArray()))
        </div>
    }
</div>
@section scripts{
    <script type="text/javascript">

        $(function () {
            $('#cancel').on('click', function (e) {
                e.preventDefault();
                location.href = '@Url.Action("Users", "Admin",null,Request.Url.Scheme)';
            });
        });
    </script>
}