@model Test.Models.Context
@{ 
    var producttip = new Tooltip("<p><strong>set product context here</strong><br /><i>eg.</i> 13G39R I272<br />spec code optional</p>").Placement("bottom").Html(true);
    var lottip = new Tooltip(Html.Raw("<p><strong>set lot context here</strong><br /><i>eg.</i> B5353C2003<br />5-2015<br />353-julian day<br />C2-line<br />003-reel</p>").ToString()).Placement("bottom").Html(true);
}
@helper ShowIfFound(int id)
{
    if (id > 0)
    {
        @:title='click to clear context'
    }
}
@helper icolor(int id)
{
    @(id > 0 ?"info":"danger")
}

@Html.Hidden("Context_ConnectionId", @Model.ConnectionId, new { @id = "Context_ConnectionId" })
@Html.Hidden("Context_ProductCodeId", @Model.ProductCodeId, new { @id = "Context_ProductCodeId" })
@Html.Hidden("Context_SampleId", @Model.SampleId, new { @id = "Context_SampleId" })
@Html.Hidden("Context_Start", Model.Start, new { @id = "Context_Start" })
@Html.Hidden("Context_End", Model.End, new { @id = "Context_End" })

@using (var form = Html.Bootstrap().Begin(new Form().Id("contextform").Type(FormType.Inline).Class("navbar-form navbar-right")))
{
    <i class='ctxicon fa fa-gift text-@icolor(Model.ProductCodeId)' id='producticon' rel='tooltip' data-placement='bottom' @ShowIfFound(Model.ProductCodeId)></i>
    @form.FormGroup().TextBox("Context_Product").Value(Model.Product).Id("Context_Product").Placeholder("Product Code").Tooltip(producttip).Label().Class("sr-only")
    <i class='ctxicon fa fa-barcode text-@icolor(Model.SampleId)' id='loticon' rel='tooltip' data-placement='bottom' @ShowIfFound(Model.SampleId)></i>
    @form.FormGroup().TextBox("Context_LotNum").Value(Model.LotNum).Id("Context_LotNum").Placeholder("Lot Number").Tooltip(lottip).Label().Class("sr-only")
}

@Html.RequireScript("/Scripts/_Context.js")