<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Process Testing App</title>
    @RenderSection("css", required: false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            @*<div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Casings", "CasingSamples", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Solutions", "SolutionBatches", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Lines", "Lines", "Control", new { area = "" }, new { @class ="navbar-brand" })
                @Html.ActionLink("Products", "Products", "Control", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Conversions", "Conversions", "Control", new { area = "" }, new { @class = "navbar-brand" })                              
            </div>*@
            @using (var nav = Html.Bootstrap().Begin(new Nav().Style(NavType.NavBar).SetLinksActiveByControllerAndAction()))
            {
                @nav.ActionLink("Home", "Index", "Home").Class("navbar-brand")
                @nav.ActionLink("Casings", "CasingSamples", "Home").PrependIcon(new Icon("fa fa-cut"))
                @nav.ActionLink("Solutions", "SolutionBatches", "Home").PrependIcon(new Icon("fa fa-flask"))
                @nav.ActionLink("Lines", "Lines", "Control").PrependIcon(new Icon("fa fa-list-ol"))
                @nav.ActionLink("Products", "Products", "Control").PrependIcon(new Icon("fa fa-gift"))
                @nav.ActionLink("Schedule", "Schedule", "Control").PrependIcon(new Icon("fa fa-random"))
            }

            <div class="navbar-collapse collapse">
                @*<ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>*@
                <div class="nav navbar-text navbar-right"><i class="fa fa-user"></i> &nbsp;@ViewBag.User</div>
                <div class="nav navbar-text navbar-right">
                    @Html.Partial("_Context", (Test.Models.Context)ViewBag.Context)
                </div>
                <ul class="nav navbar-nav pull-right">
                    @RenderSection("actions", required: false)
                    @*<li><a href="#"><small>built @File.GetLastWriteTime(assembly.Location)</small></a></li>
                    <li><a href="#"><i class="icon-user icon-white"></i> @Model.User</a></li>
                    <li><a href="#"><i class="icon-question icon-white"></i></a></li>*@
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @Html.Partial("_Alerts")
        @RenderBody()
        <hr />
        <footer>
                &copy; @DateTime.Now.Year - Nitta Casings Inc<div class="pull-right">built @ViewBag.built</div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/dataTables")

    <script src="~/signalr/hubs" type="text/javascript"></script>
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        var xhub;
        var pcodepattern = /^(1[3-9]|2\d|3[0-2])[ABCDEGHJPRTX]\d\dR?( (I ?|\d)\d{3})?$/i;
        var lotpattern = /^(F|B)?\d[0-3]\d[0-6][ABCD][1-8]00[0-6]$/i;
        
        $.fn.founded = function (isfound) {
            if ($(this).is('input')) {
                $(this).css('background-color', isfound ? '#CBFFC0' : 'pink');
                $(this).tooltip(isfound?'disable':'enable');
                return $(this);
            }

            if (isfound) {
                $(this).removeClass('text-danger').addClass('text-info');
                $(this).tooltip('enable');
            }
            else {
                $(this).removeClass('text-info').addClass('text-danger');
                $(this).tooltip('disable');
            }
            return $(this);
        }
        
        $(function () {
            var lot = $('input#Context_LotNum');
            var prd = $('input#Context_Product');
            var prdi = $('#producticon');
            var loti = $('#loticon');

            xhub = $.connection.contextHub;

            function ctxUpdate(ctx) {
                console.log(ctx);
                prd.val(ctx.Product);
                lot.val(ctx.LotNum);

                $('input#Context_ConnectionId').val(ctx.ConnectionId);
                $('input#Context_ProductCodeId').val(ctx.ProductCodeId);
                $('input#Context_SampleId').val(ctx.SampleId);

                if (prd.val().trim().length > 0) {
                    prdi.founded(ctx.ProductCodeId != 0);
                    prd.founded(ctx.ProductCodeId != 0);
                }

                if (lot.val().trim().length > 0) {
                    loti.founded(ctx.SampleId != 0);
                    lot.founded(ctx.SampleId != 0);
                }
                if (typeof ctxstats === "function")
                    xhub.server.stats().done(ctxstats);                     // uses payload function if it exists
            };
            $.connection.hub.start().done(function () {
                if (typeof ctxstats != 'undefined' && $('input#Context_ProductCodeId').val() != 0) {
                    $('.jumbotron').hide();
                    swim('#lanes');
                }
            });
            $.connection.hub.disconnected(function () {
                setTimeout(function () {
                    $.connection.hub.start();
                }, 1000); // Re-start connection after 1 second
            });
            $('input#Context_Product').on('change', function (e) {
                console.log('change fired');
                if (!pcodepattern.test($(this).val())) {
                    $(this).founded(false);
                    prdi.founded(false);
                }
                else {
                    $(this).val($(this).val().toUpperCase());
                    xhub.server.byProduct($(this).val()).done(ctxUpdate);
                }
            });
            $('input#Context_LotNum').on('change', function (e) {
                if (!lotpattern.test($(this).val())) {
                    $(this).founded(false);
                    loti.founded(false);
                }
                else {
                    $(this).val($(this).val().toUpperCase());
                    xhub.server.byLotNum($(this).val()).done(ctxUpdate);
                }
            });
            $('i#producticon').on('click', function (e) {
                console.log('ip');
                xhub.server.clear().done(ctxUpdate);
            });
            $('i#loticon').on('click', function (e) {
                console.log('il');
                xhub.server.clearSample().done(ctxUpdate);
            });
        });
    </script>
</body>
</html>
