<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Process Testing App</title>
    @RenderSection("css", required: false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            @using (var nav = Html.Bootstrap().Begin(new Nav().Style(NavType.NavBar).SetLinksActiveByControllerAndAction()))
            {
                @nav.ActionLink("Home", "Index", "Home").Class("navbar-brand")
                using (var dd = nav.BeginDropDown(new DropDown("<i class='fa fa-shopping-basket'></i> Samples")))
                {
                    @dd.ActionLink("Casings", "CasingSamples", "Home").PrependIcon("fa fa-cut")
                    @dd.ActionLink("Layflats", "LayFlats", "Home").PrependIcon("fa fa-eraser")
                }
                @nav.ActionLink("Solutions", "SolutionBatches", "Home").PrependIcon(new Icon("fa fa-flask"))
                @nav.ActionLink("Lines", "Lines", "Control").PrependIcon(new Icon("fa fa-list-ol"))
                @nav.ActionLink("Products", "Products", "Control").PrependIcon(new Icon("fa fa-gift"))
                @nav.ActionLink("Schedule", "Schedule", "Control").PrependIcon(new Icon("fa fa-random"))
            }

            <div class="navbar-collapse collapse">
                <div class="nav navbar-text navbar-right"><i class="fa fa-user"></i> &nbsp;@ViewBag.User</div>
                <div class="nav navbar-text navbar-right">
                    @Html.Partial("_Context", (Test.Models.Context)ViewBag.Context)
                </div>
                <ul class="nav navbar-nav pull-right">
                    @RenderSection("actions", required: false)
                    @Html.EmitXLSDownloadOption()
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @Html.Partial("_Alerts")
        @RenderBody()
        <hr />
        <footer>
            &copy; @DateTime.Now.Year - Nitta Casings Inc<div class="pull-right">built @ViewBag.built</div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/dataTables")

    <script src="~/signalr/hubs" type="text/javascript"></script>
    @Html.EmitRequiredScripts()
    @RenderSection("scripts", required: false)
</body>
</html>
