<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Process Testing App</title>
    @RenderSection("css", required: false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            @*<div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Casings", "CasingSamples", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Solutions", "SolutionBatches", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Lines", "Lines", "Control", new { area = "" }, new { @class ="navbar-brand" })
                @Html.ActionLink("Products", "Products", "Control", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Conversions", "Conversions", "Control", new { area = "" }, new { @class = "navbar-brand" })                              
            </div>*@
            @using (var nav = Html.Bootstrap().Begin(new Nav().Style(NavType.NavBar).SetLinksActiveByControllerAndAction()))
            {
                @nav.ActionLink("Home", "Index", "Home").Class("navbar-brand")
                @nav.ActionLink("Casings", "CasingSamples", "Home").PrependIcon(new Icon("fa fa-cut"))
                @nav.ActionLink("Solutions", "SolutionBatches", "Home").PrependIcon(new Icon("fa fa-flask"))
                @nav.ActionLink("Lines", "Lines", "Control").PrependIcon(new Icon("fa fa-list-ol"))
                @nav.ActionLink("Products", "Products", "Control").PrependIcon(new Icon("fa fa-gift"))
                @nav.ActionLink("Conversions", "Conversions", "Control").PrependIcon(new Icon("fa fa-random"))
            }

            <div class="navbar-collapse collapse">
                @*<ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>*@
                <ul class="nav navbar-nav pull-right">
                    @RenderSection("actions", required: false)
                    @*<li><a href="#"><small>built @File.GetLastWriteTime(assembly.Location)</small></a></li>
                    <li><a href="#"><i class="icon-user icon-white"></i> @Model.User</a></li>
                    <li><a href="#"><i class="icon-question icon-white"></i></a></li>*@
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @Html.Partial("_Alerts")
        @RenderBody()
        <hr />
        <footer>
                &copy; @DateTime.Now.Year - Nitta Casings Inc<div class="pull-right">built @ViewBag.built</div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/dataTables")

    @RenderSection("scripts", required: false)

</body>
</html>
