@model Test.Models.CasingBatch

<tr data-id="@Model.id">
    <td>@Model.scheduled (@Model.julianshift)</td>
    <td>@if (Model.complete)
    { <i class="fa fa-lock" title="Published and Complete"></i> }
    </td>
    <td>@Model.count</td>
    <td>@Model.registered</td>
    <td>@Model.wet</td>
    <td>@Model.dry</td>
    <td>@Model.gly</td>
</tr>

