@model Test.Models.CasingSurvey

<tr data-id="@Model.id">
    <td>@Model.scheduled (@Model.julianshift)</td>
    <td>@Model.count</td>
    <td>@Model.registered</td>
    <td>@Model.wet</td>
    <td>@Model.dry</td>
    <td>@Model.gly</td>
</tr>

