@model Test.Models.CasingTest
<tr data-id="@Model.CasingTestId">
    <td>@Model.CasingTestId</td>
    <td>@Model.DateTime.ToString("MM/dd HH:mm")</td>
    <td>@Model.LineIndex</td>
    <td>@Model.ReelFt</td>
    <td>@Model.Delm</td>
    <td>@Model.WetWt</td>
    <td>@Model.DryWt</td>
    <td>@Model.PctMoist</td>
    <td>@Model.GlyWetWt</td>
    <td>@Model.GlyDry</td>
    <td>@Model.GlyArea</td>
    <td>@Model.GlySTD</td>
    <td>@Model.PctGly</td>
    <td>@Model.OilArea</td>
    <td>@Model.PctOil</td>
    <td>@Model.Oil</td>
</tr>