@model Test.Models.Reading

<td class="Wet text-success    " data-scale="@Model.factor[0]">@Html.Bootstrap().TextBoxFor(m => m.r1).Data(new { inputmask = Model.inmsk(0) }).Class("cgly").Label().Class("sr-only")</td>
<td class="Wet text-success    " data-scale="@Model.factor[1]">@Html.Bootstrap().TextBoxFor(m => m.r2).Data(new { inputmask = Model.inmsk(1) }).Class("cgly cmoist").Label().Class("sr-only")</td>
<td class="Dry text-warning    " data-scale="@Model.factor[2]">@Html.Bootstrap().TextBoxFor(m => m.r3).Data(new { inputmask = Model.inmsk(2) }).Class("cgly cmoist").Label().Class("sr-only")</td>
<td class="Glycerin text-danger" data-scale="@Model.factor[3]">@Html.Bootstrap().TextBoxFor(m => m.r4).Data(new { inputmask = Model.inmsk(3) }).Class("cgly").Label().Class("sr-only")</td>
<td class="Glycerin text-danger" data-scale="@Model.factor[4]">@Html.Bootstrap().TextBoxFor(m => m.r5).Data(new { inputmask = Model.inmsk(4) }).Class("cgly").Label().Class("sr-only")</td>

