@model Test.Models.LayFlat

<tr data-id="@Model.SampleId">
    <td>@Model.Line.Name</td>
    <td>@Model.Scheduled</td>
    <td>@Model.Stamp</td>
    <td>@Model.ScheduledJ</td>
    <td>@Model.Product.FullCode</td>
    <td>@Model.ReelNumber</td>
    <td>@Model.Footage</td>
    <td>@Model.Product.LF_Min</td>
    <td>@Model.Product.LF_LCL</td>
    <td>@Model.Product.LF_Aim</td>
    <td>@Model.Product.LF_LCL</td>
    <td>@Model.Product.LF_Max</td>
    <td class="@Model.SpecColor"><bold>@Model.Average</bold></td>
    <td><bold>@Model.Range</bold></td>
</tr>

