@model Test.Models.LayFlat

<tr data-id="@Model.SampleId">
    <td>@Model.Line.Name</td>
    <td>@Model.Stamp</td>
    <td></td>
    <td></td>
    <td>@Model.Product.ProductSpec</td>
    <td>@Model.ReelNumber</td>
    <td>@Model.Footage</td>
    <td>@Model.Product.LF_Min</td>
    <td>@Model.Product.LF_LCL</td>
    <td>@Model.Product.LF_Aim</td>
    <td>@Model.Product.LF_LCL</td>
    <td>@Model.Product.LF_Max</td>
    <td class="@Model.SpecColor">@Model.Average</td>
    <td>@Model.Range</td>
</tr>

