@model Test.Models.LineEvent

<li data-date='@Model.ln.Stamp.ToString("dd/MM/yyyyThh:mm")'>
    <h2>@Model.ln.product._ProductCode @Model.ln.product.ProductSpec @Model.ln.status</h2>
    <em>@Model.ln.Stamp.ToString()</em>
    <p>
        @Model.ln.Note
    </p>
</li>
