@model Test.Models.LineTx

<tr data-id="@Model.LineTxId" class='@(Model.IsConversion?"":("text-"+Model.status.Color))'>
    <td>@Html.Raw(@Model.status.Iconic())</td>
    <td>@Model.product.FullCode</td>
    <td>@Model.Stamp.ToString("MM/dd HH:mm")</td>
    <td>@Model.Note</td>
    <td>@Html.Raw(Model.Action)</td>
</tr>

