@model Test.Models.LineTestView
<tr data-id="@Model.LineTest.LineTestId">
    <td><strong>@Model.LineNumber</strong></td>
    <td>@Model.LineTest.Product</td>
    <td>@Model.LineTest.StdSpeed</td>
    <td>@Model.LineTest.Computer</td>
    <td>@Model.LineTest.BeltSpeed</td>
    <td>@Model.LineTest.DryEndSpeed</td>
    <td>@Model.LineTest.ZoneA</td>
    <td>@Model.LineTest.ZoneB</td>
    <td>@Model.LineTest.ZoneC</td>
    <td>@Model.LineTest.WetDoorNumber</td>
    <td>@Model.LineTest.CasingTemp</td>
    <td>@Model.LineTest.Delm</td>
    <td>@Model.LineTest.CasingMoist</td>
    <td>@Model.LineTest.CasingGlyc</td>
    <td>@Model.LineTest.Gly</td>
    <td>@Model.LineTest.CMC</td>
    <td>@Model.LineTest.Cond</td>
    <td>@Model.LineTest.pH</td>
    <td>@Model.LineTest.HypoLevel</td>
    <td>@Model.LineTest.Timing</td>
</tr>