@model Test.Models.Plan
<tr data-id="@Model.PlanId">
    <td>@Model.LineName</td>
    <td title="@Model.Stamp.Year">@Model.Date</td>
    <td>@Model.Code @Model.Spec</td>
    <td></td>
    <td>@Model.FinishFootage</td>
    <td>@Model.SysName</td>
    <td>@Model.Solution</td>
    <td class="plancmt">@Model.Comment</td>
</tr>