@model Test.Models.ProductCode
@{
    var spec = "";
    if (Model.ProductSpec != null)
    {
        var tip = new Tooltip("click to set context").Placement("bottom");

        if (string.IsNullOrWhiteSpace(ViewBag.Product))
        {
            spec = Model.ProductSpec;
        }
        else
        {
            spec = "<i class='fa fa-gift text-info ctx' data-target='Context_Product' data-id='Context_ProductCodeId' title='set context'></i> " + Model.ProductSpec;
        }
    }
    var active = Model.IsActive ?? true;
}
<tr data-id="@Model.ProductCodeId" title="@Model.ProductCodeId" data-name="@Model.FullCode">
    <td>@Model._ProductCode.Trim()</td>
    <td>@Html.Raw(spec)</td>
    @Html.Raw((active ? "<td title='is active'><div class='hidden'>current</div></td>" : "<td title='is inactive'><i class='fa fa-ban text-danger'></i><div class='hidden'>inactive</div></td>"))
    <td>@Model.LineNames</td>
    <td>@Model.ReelMoist_Min</td>
    <td>@Model.ReelMoist_Aim</td>
    <td>@Model.ReelMoist_Max</td>
    <td>@Model.Gly_Min</td>
    <td>@Model.Gly_Aim</td>
    <td>@Model.Gly_Max</td>
    <td>@Model.Oil_Min</td>
    <td>@Model.Oil_Aim</td>
    <td>@Model.Oil_Max</td>
    <td>@Model.LF_Min</td>
    <td>@Model.LF_LCL</td>
    <td>@Model.LF_Aim</td>
    <td>@Model.LF_UCL</td>
    <td>@Model.LF_Max</td>
</tr>
