@model Test.Models.ProductCode
@{
    var spec = "";
    if (Model.ProductSpec != null)
    {
        spec = Model.ProductSpec;
    }
    var active = Model.IsActive ?? true;
}
<tr data-id="@Model.ProductCodeId" title="@Model.ProductCodeId">
    <td>@Model._ProductCode.Trim()</td>
    <td>@spec</td>
    @Html.Raw((active ? "<td title='is active'><div class='hidden'>current</div></td>" : "<td title='is inactive'><i class='fa fa-ban text-danger'></i><div class='hidden'>inactive</div></td>"))
    <td>@Model.LineName</td>
    <td>@Model.Scheduled</td>
    <td>@Model.ReelMoist_Min</td>
    <td>@Model.ReelMoist_Aim</td>
    <th>@Model.ReelMoist_Max</th>
    <th>@Model.Gly_Min</th>
    <th>@Model.Gly_Aim</th>
    <th>@Model.Gly_Max</th>
    <th>@Model.Oil_Min</th>
    <td>@Model.Oil_Aim</td>
    <td>@Model.Oil_Max</td>
</tr>
