@model Test.Models.SolutionTest
<tr data-id="@Model.SolutionTestId">
    <td>@Model.SolutionTestId</td>
    <td>@Model.DateTime.ToString("yy/MM/dd HH:mm")</td>
    <td>@Model.ReadingNumber</td>
    <td>@Model.Glycerin</td>
    <td>@Model.CMC</td>
    <td>@Model.MeasuredDensity</td>
    @if (!Model.isGr)
    {
        <td>@Model.ConsoleDensity</td>
    }
    <td>@Model.MeasuredpH</td>
    @if (!Model.isGr) { 
        <td>@Model.ConsolepH</td>
    }
    <td>@Model.Viscoscity</td>
    <td>@Model.Conductivity</td>
    <td>@Model.Hypochlorite</td>
    @if (!Model.isGr) { 
        <td>@Model.CasingGlycerin</td>
    }
    else {
        <td>@Model.Feed</td>
        <td>@Model.Steam</td>
    }

</tr>