@model Test.Models.CasingSample

@{
    ViewBag.Title = "Casing Result";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    List<IHtmlString> buttons = new List<IHtmlString>() {
            Html.Raw(" "),
        };
}
<div class="container">
    <div class="row">
        <div class="col-xs-12 text-primary"><h3>Casing Lab Result</h3> for @Model.Line.Name with @Model.product.FullCode</div>
    </div>
        <div class="row">
            <div class="col-xs-6">
                @Model.Stamp.ToString()
            </div>
            <div class="col-xs-6">
                <h2>@Model.product.FullCode</h2>
                <table class="table table-responsive table-condensed" id="productspectable">
                    <thead>
                        <tr>
                            <th>Parameter</th><th>Actual</th>
                            <th style="text-align: left;">Min</th>
                            <th style="text-align: left;" title="Low Control Limit">Low</th>
                            <th style="text-align: left;">Aim</th>
                            <th style="text-align: left;" title="High Control Limit">High</th>
                            <th style="text-align: left;">Max</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="@Model.MoistStatus">
                            <td><b>Reel Moisture</b></td>
                            <td class="actual">@Model.MoistPct.Value.ToString("N2")</td>
                            <td>@Model.product.ReelMoist_Min</td><td></td>
                            <td>@Model.product.ReelMoist_Aim</td><td></td>
                            <td>@Model.product.ReelMoist_Max</td>
                        </tr>
                        <tr class="@Model.GlyStatus">
                            <td><b>Glycerin</b></td>
                            <td class="actual">@Model.GlyPct.Value.ToString("N2")</td>
                            <td>@Model.product.Gly_Min</td><td></td>
                            <td>@Model.product.Gly_Aim</td><td></td>
                            <td>@Model.product.Gly_Max</td>
                        </tr>
                        <tr>
                            <td><b>Oil</b></td>
                            <td></td>
                            <td>@Model.product.Oil_Min</td><td></td>
                            <td>@Model.product.Oil_Aim</td><td></td>
                            <td>@Model.product.Oil_Max</td>
                        </tr>
                        <tr>
                            <td><b>Layflat</b></td>
                            <td></td>
                            <td>@Model.product.LF_Min</td>
                            <td>@Model.product.LF_LCL</td>
                            <td>@Model.product.LF_Aim</td>
                            <td>@Model.product.LF_UCL</td>
                            <td>@Model.product.LF_Max</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                @Html.Bootstrap().Button().Text("Previous").Id("previous").Style(ButtonStyle.Success)
                &nbsp;&nbsp;
                @Html.Bootstrap().Button().Text("Next").Id("next").Style(ButtonStyle.Primary)
            </div>
        </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(function () {
            @*$('#@Html.IdFor(m=>m.c.Scheduled)').datetimepicker({
                timepicker: false
            });*@
            $('#cancel').on('click', function (e) {
                e.preventDefault();
                location.href = '@Url.Action("Products", "Control", null, Request.Url.Scheme)';
            });
        });
    </script>
}
