@model Test.Models.Casings
<div class="container">
    <h2 class="text-primary">Casing Tests for @ViewBag.Context.Product</h2>
    <table id="casings" class="table table-condensed table-no-border">
        <thead>
            <tr>
                <th colspan="3"></th>
                <th>Hi<br />Aim<br />Lo</th>
                <th>@Model.product.Gly_Max<br />@Model.product.Gly_Aim<br />@Model.product.Gly_Min</th>
                <th>@Model.product.ReelMoist_Max<br />@Model.product.ReelMoist_Aim<br />@Model.product.ReelMoist_Min</th>
                <th colspan="2"></th>
            </tr>
            <tr>
                <th>Line</th>
                <th>Time</th>
                <th>Reel</th>
                <th>Feet</th>
                <th>Glyc %</th>
                <th>Mois %</th>
                <th>Tech</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            @Html.DisplayFor(m => m.samples, "Casing")
        </tbody>
    </table>
</div>

@section scripts {
    <script type="text/javascript">
        function attachDT() {
            q = $('#casings').dataTable({
                "sDom": "<'row'<'col-xs-6'f><'col-xs-6'i>>t",
                "bPaginate": false,
                "oLanguage": {
                    "sInfo": "_TOTAL_ casing(s)",
                    "sInfoFiltered": "(of _MAX_ unfiltered)",
                    "sProcessing": "<i class='fa fa-spinner fa-spin'></i>"
                },
                "aaSorting": [],
                fixedHeader: {
                    headerOffset: 50
                }
            });
        }
        $(function () {
            $('#casings tbody').on('click', 'tr', function () {
                var id = $(this).data('id');
                id = (id != '' && typeof id !== 'undefined') ? id : -bid;
                location.href = '@Url.Action("CasingSample", "Home", null, Request.Url.Scheme)/' + id;
            });
            attachDT();
        });
    </script>
}
