@model Test.Models.CasingSamples
<div class="container">
    <br />
    <table id="casingsamples" class="table table-striped table-hover table-condensed table-bordered">
        <thead>
            <tr>
                <th>
                    @using (var f = Html.Bootstrap().Begin(new Form("UploadCasing", "Home").Type(FormType.Inline).HtmlAttributes(new { enctype = "multipart/form-data" }).Id("casingup")))
                    {
                        <div class="col-md-4">@Html.Bootstrap().SubmitButton().Text("Import *.xls").PrependIcon("fa fa-cloud-upload").Id("upload").Style(ButtonStyle.Primary).Class("btn-xs")</div>
                        <div class="col-md-8">@f.FormGroup().FileFor(x => x.file).Id("file").Label().Class("sr-only")</div>
                    }
                </th>
                <th colspan="3">
                    <button class="btn btn-success btn-xs" id="addsample">
                        <i class="fa fa-plus"></i> Add New Casing Samples
                    </button>
                </th>
                <th colspan="3">
                    Readings Taken
                </th>
            </tr>
            <tr>
                <th>Scheduled For</th>
                <th><i class="fa fa-lock" title="Published and Complete"></i></th>
                <th>Count</th>
                <th>Registered</th>
                <th>Wet</th>
                <th>Dry</th>
                <th>Gly</th>
        </thead>
        <tbody>
            @Html.DisplayFor(m => m.batches)
        </tbody>
    </table>
</div>

@section scripts {
    <script type="text/javascript">
        function fileready()
        {
            if ($(this).val() != '')
                $('#upload').prop('disabled', false);
        }
        $(function () {
            $('#upload').prop('disabled', true);
            $('#file').keyup(fileready);
            $('#file').on('change', fileready);
            $('#casingsamples tbody').on('click', 'tr', function () {
                var id = $(this).data('id');
                id = (id != '' && typeof id !== 'undefined') ? id : -bid;
                location.href = '@Url.Action("CasingSampleView", "Home", null, Request.Url.Scheme)/' + id;
            });
            $('#addsample').on('click', function () {
                location.href = '@Url.Action("CasingSampleView", "Home",null,Request.Url.Scheme)/0' ;
            });
        });
    </script>
}
