@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Nitta Casings</h1>
    <p class="lead">Sample Collection and Logging</p>
</div>

<div class="row">
    <div class="col-md-2">
        <h2>Casings</h2>
        <p><a class="btn btn-default" href="@Url.Action("CasingSamples", "Home", null, Request.Url.Scheme)"><i class="fa fa-5x fa-cut"></i></a></p>
    </div>
    <div class="col-md-2">
        <h2>Solutions</h2>
        <p><a class="btn btn-default" href="@Url.Action("SolutionBatches", "Home", null, Request.Url.Scheme)"><i class="fa fa-5x fa-flask"></i></a></p>
    </div>
    <div class="col-md-2">
        <h2>Lines</h2>
        <p><a class="btn btn-default" href="@Url.Action("Lines", "Control", null, Request.Url.Scheme)"><i class="fa fa-5x fa-list-ol"></i></a></p>
    </div>
    <div class="col-md-2">
        <h2>Products</h2>
        <p><a class="btn btn-default" href="@Url.Action("Products", "Control", null, Request.Url.Scheme)"><i class="fa fa-5x fa-gift"></i></a></p>
    </div>
    <div class="col-md-2">
        <h2>Conversions</h2>
        <p><a class="btn btn-default" href="@Url.Action("Conversions", "Control", null, Request.Url.Scheme)"><i class="fa fa-5x fa-random"></i></a></p>
    </div>
</div>