@model Test.Models.LayFlatView

@{
    ViewBag.Title = "LayFlat Sample";
    Layout = "~/Views/Shared/_Layout2.cshtml";

    List<IHtmlString> buttons = new List<IHtmlString>() {
            Html.Bootstrap().SubmitButton().Text("Save").Id("savelayflat").Style(ButtonStyle.Success),
            new HtmlString(" "),
            Html.Bootstrap().SubmitButton().Text("Cancel").Id("cancel").Style(ButtonStyle.Danger)
    };
}

@helper ReadingHeader(int count)
{
    for (var i = 1; i <= count; i++)
    {
        <th>@i</th>
    }
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-xs-12 text-primary" id="linestitle"><h3>LayFlat Sample</h3></div>
    </div>
        @using (var form = Html.Bootstrap().Begin(new Form("SaveLayFlat", "Home").Type(FormType.Inline).Id("layflatform")))
        {
        <div class="row-fluid">
            <div class="col-md-5">
                @Html.Partial("_LinePick", Model.lines)
                @Html.Partial("_SampleHeader", Model.lf)
            </div>
            <div class="col-md-7 readinput">
                @Html.HiddenFor(m=>m.lf.SampleId)
                @Html.HiddenFor(m=>m.lf.LineId)
                @form.FormGroup().TextBoxFor(m=>m.lf.ReelNumber) &nbsp;
                @form.FormGroup().TextBoxFor(m=>m.lf.Footage)
                <table id="layflattable" class="sampletable table table-condensed">
                    <thead>
                        <tr>
                            @ReadingHeader(Model.lf.Type.Count)
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @Html.EditorFor(m => m.lf.values)
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
            <div class="row-fluid">
                @(form.FormGroup().CustomControls(buttons.ToArray()))
            </div>
        }
</div>

@section scripts {
    <script type="text/javascript">
        var linepicked = $('#linepicked');
        $(function () {
            $('input.n31').inputmask('decimal', { digits: 1, integerDigits: 2 });
            $('.linebtn').on('mouseenter', function (e) {
                linepicked.val($(this).parent().data('name'));
            });
            $('.linebtn').on('click', function (e) {
                e.preventDefault();
                console.log($(this).data('spec')+' '+linepicked.val()+'.');
                $('#@Html.IdFor(m => m.lf.SampleId)').val($(this).parent().data('id'));
                $('#sampleheader').show();
                $('#sample_name span').text(linepicked.val());
                $('#sample_product span').text($(this).data('spec'));
                $('#linepicker').hide();
            });
            if (@Model.lf.SampleId == 0) {
                $('#sampleheader').hide();
                $('#linepicker').show();
                $('div.sampleinput');
            }
            else {
                $('#sampleheader').show();
                $('#linepicker').hide();
            }
            $('#savelayflat').on('click', function(e){

            });
            $('#cancel').on('click', function (e) {
                e.preventDefault();
                location.href = '@Url.Action("LayFlats", "Home",null,Request.Url.Scheme)';
            });
        });
    </script>   
}