@model Test.Models.SolutionTests
@{
    string title;
    if (Model.isGr)
    {
        title = "Solution Tests on Glycerin Recovery unit " + @Model.System;   
    }
    else
    {
        title = "Solution Tests on System " + @Model.System + " producing " + @Model.Recipe;
    }
}
<div class="container">
    <br />
    <table id="stests" class="table table-striped table-hover table-condensed table-bordered">
        <thead>
            <tr><th></th>
                @if (!Model.isGr)
                {
                    <th></th>
                }
                <th colspan="8">@title</th>
                <th colspan="4">
                    <button class="btn btn-success btn-xs" id="addtest">
                        <i class="fa fa-plus"></i> Add New Test
                    </button>
                </th>
            </tr>
            <tr>
                <th>ID</th>
                <th>DateTime</th>
                <th>Reading</th>
                <th>Glycerin</th>
                <th>CMC</th>
                <th>Density</th>
                @if (!Model.isGr) {
                    <th>Cnsl Density</th>
                }
                <th>pH</th>
                @if (!Model.isGr)
                {
                    <th>Cnsl pH</th>
                }
                <th title="Viscosity">&mu;</th>
                <th title="Conductivity">&sigma;</th>
                <th title="Hypochlorite">ClO</th>
                @if (!Model.isGr) { 
                    <th>Casing Glycerin Avg</th>
                }
                else
                {
                    <th>Feed</th>
                    <th>Steam</th>
                }
            </tr>
        </thead>
        <tbody>
            @Html.DisplayFor(m => m.list)
        </tbody>
    </table>
    @Html.HiddenFor(m => m.BatchId)
</div>

@section scripts {
    <script type="text/javascript">
    function attachDT() {
        q = $('#stests').dataTable({
            "sDom": "<'row'<'col-xs-6'f><'col-xs-6'i>>t",
            "order": [[1, "desc"]],
            "bPaginate": false,
            "oLanguage": {
                "sInfo": "_TOTAL_ test(s)",
                "sInfoFiltered": "(of _MAX_ unfiltered)",
                "sProcessing": "<i class='fa fa-spinner fa-spin'></i>"
            },
            "aoColumnDefs": [
                { "bVisible": false, "aTargets": [0] }
            ],
            fixedHeader: {
                headerOffset: 50
            }
        });
    }
    $(function () {
        attachDT();
        var bid = $('#BatchId').val();
        $('#stests tbody').on('click', 'tr', function () {
            var id = $(this).data('id');
            console.log('id b4 ' + id);
            id = (id != '' && typeof id !== 'undefined') ? id : -bid;
            console.log('id af ' + id);
            location.href = '@Url.Action("STest", "Home", null, Request.Url.Scheme)/' + id;
        });
        $('#addtest').on('click', function () {
            location.href = '@Url.Action("STest","Home",null,Request.Url.Scheme)/-' + bid ;
        });
    });
    </script>
}
