@model Tags.Models.User

<tr data-id="@Model.UserId">
    <td>@Model.Login</td>
    <td>@Model.Identity</td>
    <td>
    <button class='btn btn-danger btn-xs userdel view{0}' data-id='{0}' data-userid='@Model.UserId' title='delete @Model.Login'>
        <i class='fa fa-remove'></i>
    </button>
    </td>
</tr>