@model Test.Models.UndoConversionView

@{
    ViewBag.Title = "Undo Conversion";
    List<IHtmlString> buttons = new List<IHtmlString>() {
        Html.Bootstrap().SubmitButton().Text("Revert to Prior").Id("undoconversion").Style(ButtonStyle.Success),,new HtmlString(" "),
        Html.Bootstrap().SubmitButton().Text("Cancel").Id("cancel").Style(ButtonStyle.Warning)
    };

    var ispStarted = (Model.prior.Started.Value < DateTime.Now.AddYears(200));
    var ispCompleted = (Model.prior.Completed < DateTime.Now.AddYears(200));
    var pstarted = (!Model.prior.Started.HasValue || !ispStarted) ? "" : Model.prior.Started.Value.ToString("MM-dd HH:mm");
    var pcompleted = (Model.prior.Completed == null || !ispCompleted) ? "" : Model.prior.Completed.ToString("MM-dd HH:mm");

    var iscStarted = (Model.current.Started.Value < DateTime.Now.AddYears(200));
    var iscCompleted = (Model.current.Completed < DateTime.Now.AddYears(200));
    var cstarted = (!Model.current.Started.HasValue || !iscStarted) ? "" : Model.current.Started.Value.ToString("MM-dd HH:mm");
    var ccompleted = (Model.current.Completed == null || !iscCompleted) ? "" : Model.current.Completed.ToString("MM-dd HH:mm");
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 text-primary"><h3>Confirm Undo Conversion<i> on</i> @Model.prior.line.Name</h3></div>
    </div>
    @using (var form = Html.Bootstrap().Begin(new Form("UndoConversion", "Control").Id("undoconversionform").Type(FormType.Horizontal)))
    {
        @Html.HiddenFor(m => m.prior.ConversionId);
        @Html.HiddenFor(m => m.current.ConversionId);

        @Html.HiddenFor(m => m.prior.LineId)
        @Html.HiddenFor(m => m.prior.Scheduled)
        @Html.HiddenFor(m => m.prior.ProductCodeId)
        @Html.HiddenFor(m => m.prior.SystemId)
        @Html.HiddenFor(m => m.prior.StatusId)
        @Html.HiddenFor(m => m.prior.SolutionRecipeId)
        @Html.HiddenFor(m => m.prior.ExtruderId)

        <div class="row">
            <div class="col-xs-12">
                <table id="conversions" class="table table-striped table-hover table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th colspan="10">Last Conversion Transition</th>
                        </tr>
                        <tr>
                            <th>@Model.prior.line.Name</th>
                            <th>Scheduled</th>
                            <th>Started</th>
                            <th>Completed</th>
                            <th>Product</th>
                            <th>Extruder</th>
                            <th>Reqd Ft</th>
                            <th>Sys</th>
                            <th>Soln</th>
                            <th>State</th>
                            <th>Note</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>Prior</b></td>
                            <td>@Model.prior.Scheduled.ToString("yy-MM-dd")</td>
                            <td>@pstarted</td>
                            <td>@pcompleted</td>
                            <th>@Model.prior.product._ProductCode @Model.prior.product.ProductSpec</th>
                            <th>@Html.Raw(Model.prior.Color)</th>
                            <th>@Model.prior.FinishFootage</th>
                            <th>@Model.prior.System</th>
                            <td>@Model.prior.SolutionType</td>
                            <td>@Html.Raw(Model.prior.Icon)</td>
                            <td>@Model.prior.Note</td>
                        </tr>
                        <tr>
                            <td><b>Current</b></td>
                            <td>@Model.current.Scheduled.ToString("yy-MM-dd")</td>
                            <td>@cstarted</td>
                            <td>@ccompleted</td>
                            <th>@Model.current.product._ProductCode @Model.current.product.ProductSpec</th>
                            <th>@Html.Raw(Model.current.Color)</th>
                            <th>@Model.current.FinishFootage</th>
                            <th>@Model.current.System</th>
                            <td>@Model.current.SolutionType</td>
                            <td>@Html.Raw(Model.current.Icon)</td>
                            <td>@Model.current.Note</td>                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                @(form.FormGroup().CustomControls(buttons.ToArray()))
            </div>
        </div>
    }
</div>
@section scripts{
    <script type="text/javascript">
        $(function () {
            $('#cancel').on('click', function (e) {
                e.preventDefault();
                location.href = '@Url.Action("Conversions", "Control", null, Request.Url.Scheme)';
            });
        });
    </script>
}
