@model Test.Models.Conversions

<div class="container">
    <br />
    <table id="conversions" class="table table-striped table-hover table-condensed table-bordered">
        <thead>
            <tr>
                <th colspan="2">List of Conversions</th>
                <th colspan="2">
                    <button class="btn btn-success btn-xs" id="addconversion">
                        <i class="fa fa-plus"></i> Add New Conversion
                    </button>
                </th>
                <th colspan="2">
                    <button class="btn btn-primary btn-xs" id="undoconversion">
                        <i class="fa fa-undo"></i> Undo Recent Conversion
                    </button>
                </th>
                <th colspan="2">
                    <button class="btn btn-xs" id="conversion2xls">
                        <i class="fa fa-cloud-download"></i> Weekly Production Schedule
                    </button>
                </th>
            </tr>
            <tr>
                <th>Line</th>
                <th>Scheduled</th>
                <th>Started</th>
                <th>Completed</th>
                <th>Product</th>
                <th>Extruder</th>
                <th>Reqd Ft</th>
                <th>Sys</th>                
                <th>Soln</th>
                <th>State</th>
                <th><i>Action</i></th>
            </tr>
        </thead>
        <tbody>
            @Html.DisplayFor(m => m.conversions)
        </tbody>
    </table>
</div>

@section scripts {
    <script type="text/javascript">
    function attachDT() {
        q = $('#conversions').dataTable({
            "sDom": "<'row'<'col-xs-6'f><'col-xs-6'i>>t",
            "order": [[1, "desc"]],
            "bPaginate": false,
            "oLanguage": {
                "sInfo": "_TOTAL_ conversion(s)",
                "sInfoFiltered": "(of _MAX_ unfiltered)",
                "sProcessing": "<i class='fa fa-spinner fa-spin'></i>"
            }
        });
    }
    $(function () {
        $('#conversions tbody').on('click', 'tr', function (e) {
            var id = $(this).closest('tr').data('id');
            location.href = '@Url.Action("Conversion","Control",null,Request.Url.Scheme)/'+id;
        });
        $('#addconversion').on('click', function () {
            location.href = '@Url.Action("Conversion","Control",null,Request.Url.Scheme)/0';
        });
        $('#undoconversion').on('click', function () {
            location.href = '@Url.Action("UndoConversions","Control",null,Request.Url.Scheme)';
        });
        $('#conversion2xls').on('click', function () {
            location.href = '@Url.Action("ExportConversions", "Control", null, Request.Url.Scheme)';
        });
        $('.btnignore').on('click', function (e) {
            e.stopPropagation();
            var id = $(this).closest('tr').data('id');
            e.preventDefault();
            location.href = '@Url.Action("IgnoreConversion", "Control", null, Request.Url.Scheme)/'+id;
        });
        $('.btnstart').on('click', function (e) {
            e.stopPropagation();
            var id = $(this).closest('tr').data('id');
            e.preventDefault();
            location.href = '@Url.Action("StartConversion", "Control", null, Request.Url.Scheme)/'+id;
        });
        $('.btncomplete').on('click', function (e) {
            e.stopPropagation();
            var id = $(this).closest('tr').data('id');
            e.preventDefault();
            location.href = '@Url.Action("CompleteConversion", "Control", null, Request.Url.Scheme)/'+id;
        });
        attachDT();
    });
</script>
}
