@model Test.Models.LineView
@{
    ViewBag.Title = "Modify Line "+Model.line.Name;
    Layout = "~/Views/Shared/_Layout2.cshtml";
    List<IHtmlString> buttons = new List<IHtmlString>() {
            Html.Bootstrap().SubmitButton().Text("Save").Id("saveline").Style(ButtonStyle.Success),
            Html.Bootstrap().SubmitButton().Text("Cancel").Id("cancel").Style(ButtonStyle.Default)
    };
}

@helper ButtonGroup()
{
    using (var g = Html.Bootstrap().Begin(new ButtonGroup()))
    {
        <div class=btn-group>
        @foreach(var b in Model.statuses)
        {
            @g.Button().Data(new { id = b.StatusId }).Class("linebtn btn-" + b.Color).Text(b.Pretty(Model.line.StatusId == b.StatusId))
        }
        </div>
    }
}

<div class="container">
    @using (var form = Html.Bootstrap().Begin(new Form("SaveLine", "Control").Id("lineform").Type(FormType.Horizontal).LabelWidthMd(2)))
    {
        @Html.HiddenFor(m => m.line.LineId)
        @Html.HiddenFor(m => m.line.UnitId)
        @Html.HiddenFor(m => m.line.LineNumber)
        @Html.HiddenFor(m => m.line.StatusId)
        <div class="row">
            <div class="col-md-12 text-primary"><h3>Modify Line @Model.line.Name</h3></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @form.FormGroup().CustomControls(ButtonGroup()).CustomLabel("Status")
                @form.FormGroup().DropDownListFor(m => m.line.ProductCodeId, Model.productList).Size(InputSize.Large).Label().LabelHtml(new HtmlString("<i class='fa fa-2x fa-gift'></i> Product"))
                @form.FormGroup().RadioButtonListFor(
                    m => m.line.SystemId,
                    m => m.systems,
                    s => s.SystemId,
                    s => s.Pretty).SelectedValues(
                    n => n.SystemId == Model.line.SystemId.Value).DisplayInlineBlock().Label().LabelHtml(new HtmlString("<i class='fa fa-2x fa-flask'></i> System"))
            </div>
        </div>
        <div class="row">
            @(form.FormGroup().CustomControls(buttons.ToArray()))
        </div>
    }
</div>
@section scripts{
    <script type="text/javascript">
        $(function () {
            $('button.linebtn').on('click', function (e) {
                e.preventDefault();
                var id = $(this).data('id');
                var statusfld = $('#@Html.IdFor(m => m.line.StatusId)');
                statusfld.val(id);
                $(this).addClass('active').siblings().removeClass('active');
                $('i.fa-check-square','#lineform').removeClass('fa-check-square').addClass('fa-square');
                $('i.fa-2x', $(this)).removeClass('fa-square').addClass('fa-check-square');
            });
            $('#cancel').on('click', function (e) {
                e.preventDefault();
                location.href = '@Url.Action("Lines", "Control", null, Request.Url.Scheme)';
            });
        });
    </script>
}

